---
layout: page
title: "Lin Xiangshu"
description: "maple"
header-img: "img/home-bg.jpg"
---

<div class="zh">
    <blockquote>
        对ml&dl方面感兴趣，关于建站，希望能多写点东西，记录一点点^_^
    </blockquote>

	<p><strong>爱好</strong></p>
	看书，各种杂书，所以有书单，发我😄！！！<br>
	羽毛球～～～<br>
	偶尔发呆，我想和这个世界谈谈。^_^<br>
	最近开始健身了，停不下来~~~haha。<br>
	还有想学的还没学会的，<br>
	钢琴～<br>
	...</p>
	
	<!-- <p><strong>约么？</strong></p> -->
    <p><a href="mailto:linxiangshu@126.com?subject=Hello%20again">linxiangshu[AT]126.com</a><br>
    <a href="https://github.com/y521263">Github</a><br>
	<a href="https://www.zhihu.com/people/maple-41-72">知乎</a><br>
    <a href="https://instagram.com/y521263/">Instagram</a><br>
    <a href="http://blog.csdn.net/y521263">CSDN(以前的blog)</a><br>
	</p>
</div>

<!--
{% if site.duoshuo_username %}
    <div class="comment">
        <div class="ds-thread"
        {% if site.duoshuo_username == "huxblog" %}
            data-thread-id="1187623191091085319"
        {% else %}
            data-thread-key="{{site.duoshuo_username}}/about"
        {% endif %}

        data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
    </div>


<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />
-->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<!--
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

{% endif %}
-->
